<main class="main">
  <div class="reservation-container">
    <h2>Create Equipment</h2>
    <form [formGroup]="equipmentForm" (ngSubmit)="onSubmit()">
      <label for="name">Name</label>
      <input id="name" type="text" formControlName="name">

      <label for="description">Description</label>
      <input id="description" type="text" formControlName="description" required>

      <label for="purchaseDate">Purchase Date</label>
      <input id="purchaseDate" type="datetime-local" formControlName="purchaseDate" required>

      <label for="warrantyEndDate">Warranty End Date</label>
      <input id="warrantyEndDate" type="datetime-local" formControlName="warrantyEndDate" required>

      <label for="type">Type</label>
      <select id="type" formControlName="type">
        <option *ngFor="let type of typeOptions" [value]="type">{{ type }}</option>
      </select>

      <label for="equipmentstatus">Status</label>
      <select id="equipmentstatus" formControlName="equipmentstatus" required>
        <option *ngFor="let status of statusOptions" [value]="status">{{ status }}</option>
      </select>

      <div class="container-login100-form-btn">
        <button class="login100-form-btn" type="submit" [disabled]="equipmentForm.invalid">
          Add
        </button>
      </div>
    </form>
  </div>
</main>

