<main>
  <section class="authors-table">
    <div class="table-header">
      <h2 class="table-title">Users Table</h2>
      <span class="table-subtitle">USER LIST</span>
    </div>
    <div class="table-content">
      <div class="table-row" *ngFor="let userU of usersU">
        <div class="author-info">
          <img src="https://via.placeholder.com/50" alt="User Avatar" class="author-avatar">
          <div class="author-details">
            <span class="author-name">{{ userU.name }}</span>
            <span class="author-email">{{ userU.email }}</span>
          </div>
        </div>
        <div class="author-role">
          <span class="author-role">Password:</span>
          <span class="author-department">{{ userU.password }}</span>
        </div>
        <span class="author-action">
<!--          <button class="btn-edit">Edit</button>-->
<!--          <button class="btn-delete">Delete</button>-->
        </span>
      </div>
    </div>
  </section>
</main>
