:root {
  --default-font: "Roboto",  system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --heading-font: "Playfair Display",  sans-serif;
  --nav-font: "Poppins",  sans-serif;
}

/* Global Colors - The following color variables are used throughout the website. Updating them here will change the color scheme of the entire website */
:root {
  --background-color: #ffffff; /* Background color for the entire website, including individual sections */
  --default-color: rgba(255, 255, 255, 0.7); /* Default color used for the majority of the text content across the entire website */
  --heading-color: #ffffff; /* Color for headings, subheadings and title throughout the website */
  --accent-color: #fd7401; /* Accent color that represents your brand on the website. It's used for buttons, links, and other elements that need to stand out */
  --surface-color: #ffffff; /* The surface color is used as a background of boxed elements within sections, such as cards, icon boxes, or other elements that require a visual separation from the global background. */
  --contrast-color: #ffffff; /* Contrast color for text, ensuring readability against backgrounds of accent, heading, or default colors. */
}

/* Nav Menu Colors - The following color variables are used specifically for the navigation menu. They are separate from the global colors to allow for more customization options */
:root {
  --nav-color: #ffffff;  /* The default color of the main navmenu links */
  --nav-hover-color: #fd7401; /* Applied to main navmenu links when they are hovered over or active */
  --nav-mobile-background-color: #29261f; /* Used as the background color for mobile navigation menu */
  --nav-dropdown-background-color: #29261f; /* Used as the background color for dropdown items that appear when hovering over primary navigation items */
  --nav-dropdown-color: #ffffff; /* Used for navigation links of the dropdown items in the navigation menu. */
  --nav-dropdown-hover-color: #fd7401; /* Similar to --nav-hover-color, this color is applied to dropdown navigation links when they are hovered over. */
}


:host {
  display: contents;
}

.login-container {
  border-radius: 50px;
  background-color: #f1f3f6;
  box-shadow: 0 0 200px rgba(0, 0, 0, 0.2);
  padding-right: 38px;
  overflow: hidden;
  border: 15px solid #fff;
}

.login-content {
  display: flex;
  gap: 20px;
}

.login-form-section {
  width: 50%;
}

.login-form-container {
  background-color: #fff;
  box-shadow: 24px 0 50px rgba(0, 0, 0, 0.05);
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 169px 80px;
}

.logo-container {
  display: flex;
  width: 220px;
  max-width: 100%;
  align-items: flex-start;
  gap: 5px;
}

.logo-bar {
  border-radius: 17px;
  width: 6px;
  height: 56px;
}

.logo-bar.orange {
  background-color: #fd7401;
  margin-top: 4px;
}

.logo-bar.blue {
  background-color: #1e2772;
}

.logo-image {
  aspect-ratio: 5.46;
  object-fit: contain;
  width: 164px;
  align-self: stretch;
  max-width: 100%;
  margin: auto 0;
}

.login-title {
  color: #555;
  text-align: center;
  margin-top: 52px;
  font: 600 16px Poppins, sans-serif;
}

.form-group {
  margin-top: 27px;
  width: 100%;
}

.form-label {
  color: #555;
  font: 400 16px Poppins, sans-serif;
  display: block;
  margin-bottom: 10px;
}

.input-container {
  border-radius: 8px;
  background-color: #f1f3f6;
  display: flex;
  padding: 0 25px;
  justify-content: space-between;
  align-items: center;
}

.form-input {
  color: #555;
  font: 400 14px Poppins, sans-serif;
  background: transparent;
  border: none;
  padding: 13px 0;
  width: 100%;
}

.input-icon {
  aspect-ratio: 1.26;
  width: 63px;
}

.forgot-password {
  color: #1e2772;
  margin-top: 23px;
  font: 400 14px Poppins, sans-serif;
  text-decoration: none;
  display: inline-block;
}

.login-button {
  border-radius: 8px;
  background-color: #fd7401;
  box-shadow: 0 12px 24px rgba(253, 116, 1, 0.3);
  margin-top: 12px;
  width: 100%;
  color: #fff;
  text-align: center;
  padding: 13px;
  font: 600 16px Poppins, sans-serif;
  border: none;
  cursor: pointer;
}

.divider {
  display: flex;
  margin-top: 42px;
  width: 100%;
  align-items: center;
  gap: 20px;
  color: #c2c2c2;
  font: 400 14px Poppins, sans-serif;
}

.divider-line {
  flex-grow: 1;
  height: 1px;
  background-color: #c2c2c2;
}

.signup-button {
  border-radius: 8px;
  margin-top: 56px;
  width: 100%;
  color: #fd7401;
  text-align: center;
  padding: 13px;
  font: 600 16px Poppins, sans-serif;
  border: 1px solid #fd7401;
  background: transparent;
  cursor: pointer;
}

.login-image-container {
  width: 50%;
}

.login-image {
  aspect-ratio: 1;
  object-fit: contain;
  width: 100%;
  height: 100%;
}

@media (max-width: 991px) {
  .login-container {
    padding-right: 20px;
  }

  .login-content {
    flex-direction: column;
  }

  .login-form-section,
  .login-image-container {
    width: 100%;
  }

  .login-form-container {
    max-width: 100%;
    margin-top: 40px;
    padding: 100px 20px;
  }

  .login-title {
    margin-top: 40px;
  }

  .login-button,
  .signup-button {
    padding: 13px 20px;
  }

  .divider {
    margin-top: 40px;
  }

  .signup-button {
    margin-top: 40px;
  }

  .login-image {
    max-width: 100%;
    margin-top: 40px;
  }
}
