<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100 p-t-85 p-b-20">
      <form [formGroup]="loginForm" (ngSubmit)="login()" class="login100-form validate-form">
        <span class="login100-form-title p-b-70">
          Login
        </span>
        <span class="login100-form-avatar">
          <img src="assets/img/team/team-1.jpg" alt="AVATAR">
        </span>
        <div class="wrap-input100 validate-input m-t-85 m-b-35" data-validate="Enter username">
          <input class="input100" type="text" id="username" formControlName="username" required>
          <span class="focus-input100" data-placeholder="Username"></span>
        </div>
        <div class="wrap-input100 validate-input m-b-50" data-validate="Enter password">
          <input class="input100" type="password" id="password" formControlName="password" required>
          <span class="focus-input100" data-placeholder="Password"></span>
        </div>
        <div class="container-login100-form-btn">
          <button class="login100-form-btn" type="submit" [disabled]="loginForm.invalid">
            Login
          </button>
        </div>

      </form>
    </div>
  </div>
</div>
<div id="dropDownSelect1"></div>
