<div *ngIf="tickets.length > 0; else noTickets">
  <h2>Your Support Tickets</h2>
  <table>
    <thead>
    <tr>
      <th>Ticket ID</th>
      <th>Description</th>
      <th>Date Created</th>
      <th>Status</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let ticket of tickets">
      <td>{{ ticket.id }}</td>
      <td>{{ ticket.description }}</td>
      <td>{{ ticket.createdDate | date}}</td>
      <td>{{ ticket.ticketStatus }}</td>
    </tr>
    </tbody>
  </table>
</div>

<ng-template #noTickets>
  <p>No tickets found.</p>
</ng-template>

<div *ngIf="errorMessage">
  <p class="error">{{ errorMessage }}</p>
</div>
