.sign-up-screen {
  display: flex;
  flex-direction: column;
}
.div {
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  width: 100%;
  padding-bottom: 100px;
  flex-direction: column;
}
@media (max-width: 991px) {
  .div {
    max-width: 100%;
  }
}
.div-2 {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 1053px;
  width: 100%;
  padding: 24px 24px 0;
}
@media (max-width: 991px) {
  .div-2 {
    max-width: 100%;
    padding-left: 20px;
  }
}
.img {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.div-3 {
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 0px 0px 0px 0px;
  z-index: 10;
  min-height: 1129px;
  margin-bottom: -100px;
  align-items: center;
  padding: 35px 80px 57px;
}
@media (max-width: 991px) {
  .div-3 {
    max-width: 100%;
    margin-bottom: 10px;
    padding: 0 20px;
  }
}
.div-4 {
  position: relative;
  display: flex;
  width: 1040px;
  max-width: 100%;
  flex-direction: column;
  align-items: center;
}
.div-5 {
  display: flex;
  width: 940px;
  max-width: 100%;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
  font: 800 10px Abhaya Libre ExtraBold, -apple-system, Roboto, Helvetica,
  sans-serif;
}
.div-6 {
  align-self: stretch;
  display: flex;
  gap: 12px;
  font-size: 14px;
  color: var(--Secondary-Primary-White, #fff);
  margin: auto 0;
}
.img-2 {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 22px;
  align-self: start;
}
.purity-ui-dashboard {
  flex-basis: auto;
}
.div-7 {
  align-self: stretch;
  display: flex;
  gap: 29px;
  color: var(--black-amp-white-white, #fff);
  text-align: center;
  margin: auto 0;
}
.dashboard {
  border-radius: 12px;
  display: flex;
  height: 23px;
  align-items: center;
  white-space: nowrap;
  justify-content: center;
}
@media (max-width: 991px) {
  .dashboard {
    white-space: initial;
  }
}
.width-structure {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  margin: auto 0;
}
@media (max-width: 991px) {
  .width-structure {
    white-space: initial;
  }
}
.height-structure {
  display: flex;
  min-height: 24px;
  align-items: center;
  justify-content: start;
}
@media (max-width: 991px) {
  .height-structure {
    white-space: initial;
  }
}
.button-body {
  align-self: stretch;
  display: flex;
  align-items: center;
  gap: 4px;
  overflow: hidden;
  justify-content: center;
  margin: auto 0;
}
@media (max-width: 991px) {
  .button-body {
    white-space: initial;
  }
}
.img-3 {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 11px;
  align-self: stretch;
  margin: auto 0;
}
.text {
  align-self: stretch;
  width: 66px;
  margin: auto 0;
}
.🔛-min-width {
  display: flex;
  min-height: 0px;
}
.profile {
  border-radius: 12px;
  display: flex;
  height: 23px;
  align-items: center;
  white-space: nowrap;
  justify-content: center;
  padding: 0 1px;
}
@media (max-width: 991px) {
  .profile {
    white-space: initial;
  }
}
.img-4 {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 11px;
  align-self: stretch;
  margin: auto 0;
}
.text-2 {
  align-self: stretch;
  width: 44px;
  margin: auto 0;
}
.sign-up {
  border-radius: 12px;
  display: flex;
  height: 23px;
  align-items: center;
  justify-content: center;
  padding: 0 2px;
}
.width-structure-2 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  margin: auto 0;
}
.height-structure-2 {
  display: flex;
  min-height: 24px;
  align-items: center;
  justify-content: start;
}
.button-body-2 {
  align-self: stretch;
  display: flex;
  align-items: center;
  gap: 4px;
  overflow: hidden;
  justify-content: center;
  margin: auto 0;
}
.img-5 {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 11px;
  align-self: stretch;
  margin: auto 0;
}
.text-3 {
  align-self: stretch;
  width: 42px;
  margin: auto 0;
}
.sign-in {
  border-radius: 12px;
  display: flex;
  height: 23px;
  align-items: center;
  justify-content: center;
  padding: 0 4px;
}
.width-structure-3 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  margin: auto 0;
}
.height-structure-3 {
  display: flex;
  min-height: 24px;
  align-items: center;
  justify-content: start;
}
.button-body-3 {
  align-self: stretch;
  display: flex;
  align-items: center;
  gap: 4px;
  overflow: hidden;
  justify-content: center;
  margin: auto 0;
}
.img-6 {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 11px;
  align-self: stretch;
  margin: auto 0;
}
.text-4 {
  align-self: stretch;
  width: 38px;
  margin: auto 0;
}
.button-base {
  justify-content: center;
  align-items: center;
  border-radius: 34.5px;
  background: var(--black-amp-white-white, #fff);
  background-color: var(--black-amp-white-white, #fff);
  align-self: stretch;
  display: flex;
  min-height: 35px;
  color: var(--Gray-Gray-700, #2d3748);
  text-align: center;
  padding: 0 8px;
}
.width-structure-4 {
  align-self: stretch;
  display: flex;
  width: 90px;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  margin: auto 0;
}
.height-structure-4 {
  display: flex;
  min-height: 24px;
  width: 100%;
  max-width: 90px;
  align-items: center;
  justify-content: start;
}
.button-body-4 {
  width: 90px;
  align-self: stretch;
  gap: 4px;
  overflow: hidden;
  margin: auto 0;
}
.welcome {
  color: var(--black-amp-white-white, #fff);
  text-align: center;
  margin-top: 55px;
  font: 800 32px/1.3 Abhaya Libre ExtraBold, -apple-system, Roboto, Helvetica,
  sans-serif;
}
@media (max-width: 991px) {
  .welcome {
    margin-top: 40px;
  }
}
.use-these-awesome-forms-to-login-or-create-new-account-in-your-project-for-free {
  color: var(--black-amp-white-white, #fff);
  text-align: center;
  margin-top: 30px;
  font: 800 14px/20px Abhaya Libre ExtraBold, -apple-system, Roboto, Helvetica,
  sans-serif;
}
.div-8 {
  border-radius: 15px;
  background: var(--black-amp-white-white, #fff);
  box-shadow: 0px 7px 23px 0px rgba(0, 0, 0, 0.05);
  background-color: var(--black-amp-white-white, #fff);
  display: flex;
  margin-top: 71px;
  width: 452px;
  max-width: 100%;
  flex-direction: column;
  padding: 50px 51px;
}
@media (max-width: 991px) {
  .div-8 {
    margin-top: 40px;
    padding: 0 20px;
  }
}
.register-with {
  color: var(--Gray-Gray-700, #2d3748);
  text-align: center;
  align-self: center;
  font: 800 18px/1.4 Abhaya Libre ExtraBold, -apple-system, Roboto, Helvetica,
  sans-serif;
}
.div-9 {
  align-self: center;
  display: flex;
  margin-top: 32px;
  width: 255px;
  max-width: 100%;
  align-items: start;
  gap: 15px;
  color: var(--Gray-Gray-400, #a0aec0);
  white-space: nowrap;
  text-align: center;
  font: 800 18px/1.4 Abhaya Libre ExtraBold, -apple-system, Roboto, Helvetica,
  sans-serif;
}
@media (max-width: 991px) {
  .div-9 {
    white-space: initial;
  }
}
.img-7 {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 75px;
  border-radius: 0px 0px 0px 0px;
}
.div-10 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  flex: 1;
}
@media (max-width: 991px) {
  .div-10 {
    white-space: initial;
  }
}
.img-8 {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 75px;
  border-radius: 0px 0px 0px 0px;
}
.or {
  align-self: center;
  margin-top: 20px;
}
.img-9 {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 75px;
  border-radius: 0px 0px 0px 0px;
}
.name {
  color: var(--Gray-Gray-700, #2d3748);
  align-self: start;
  margin-top: 34px;
  font: 800 14px/1.4 Abhaya Libre ExtraBold, -apple-system, Roboto, Helvetica,
  sans-serif;
}
@media (max-width: 991px) {
  .name {
    margin-left: 5px;
  }
}
.name-2 {
  align-items: center;
  border-radius: 15px;
  border: 1px solid var(--Gray-Gray-200, #e2e8f0);
  background: var(--black-amp-white-white, #fff);
  background-color: var(--black-amp-white-white, #fff);
  display: flex;
  margin-top: 17px;
  min-height: 50px;
  overflow: hidden;
  color: var(--Gray-Gray-400, #a0aec0);
  justify-content: start;
  padding: 0 19px 0 20px;
  font: 800 14px/1.4 Abhaya Libre ExtraBold, -apple-system, Roboto, Helvetica,
  sans-serif;
}
.input-field-text {
  align-self: stretch;
  display: flex;
  min-width: 240px;
  width: 311px;
  flex-direction: column;
  overflow: hidden;
  justify-content: center;
  margin: auto 0;
}
.🔛-min-width-2 {
  align-self: start;
  display: flex;
  min-height: 0px;
}
.email {
  color: var(--Gray-Gray-700, #2d3748);
  align-self: start;
  margin-top: 24px;
  font: 800 14px/1.4 Abhaya Libre ExtraBold, -apple-system, Roboto, Helvetica,
  sans-serif;
}
@media (max-width: 991px) {
  .email {
    margin-left: 5px;
  }
}
.email-2 {
  align-items: center;
  border-radius: 15px;
  border: 1px solid var(--Gray-Gray-200, #e2e8f0);
  background: var(--black-amp-white-white, #fff);
  background-color: var(--black-amp-white-white, #fff);
  display: flex;
  margin-top: 16px;
  min-height: 50px;
  overflow: hidden;
  color: var(--Gray-Gray-400, #a0aec0);
  justify-content: start;
  padding: 0 19px 0 20px;
  font: 800 14px/1.4 Abhaya Libre ExtraBold, -apple-system, Roboto, Helvetica,
  sans-serif;
}
.🔛-min-width-3 {
  align-self: start;
  display: flex;
  min-height: 0px;
}
.password {
  color: var(--Gray-Gray-700, #2d3748);
  align-self: start;
  margin-top: 24px;
  font: 800 14px/1.4 Abhaya Libre ExtraBold, -apple-system, Roboto, Helvetica,
  sans-serif;
}
@media (max-width: 991px) {
  .password {
    margin-left: 5px;
  }
}
.email-3 {
  align-items: center;
  border-radius: 15px;
  border: 1px solid var(--Gray-Gray-200, #e2e8f0);
  background: var(--black-amp-white-white, #fff);
  background-color: var(--black-amp-white-white, #fff);
  display: flex;
  margin-top: 16px;
  min-height: 50px;
  overflow: hidden;
  color: var(--Gray-Gray-400, #a0aec0);
  justify-content: start;
  padding: 0 19px 0 20px;
  font: 800 14px/1.4 Abhaya Libre ExtraBold, -apple-system, Roboto, Helvetica,
  sans-serif;
}
.🔛-min-width-4 {
  align-self: start;
  display: flex;
  min-height: 0px;
}
.div-11 {
  display: flex;
  margin-top: 24px;
  width: 117px;
  max-width: 100%;
  gap: 10px;
}
.switch-base {
  border-radius: 98px;
  background-color: rgba(185, 97, 255, 1);
  display: flex;
  min-height: 19px;
  flex-direction: column;
  overflow: hidden;
  align-items: end;
  justify-content: center;
  padding: 3px 2px 3px 1px;
}
.div-12 {
  background-color: var(--black-amp-white-white, #fff);
  border-radius: 50%;
  display: flex;
  min-height: 13px;
  width: 14px;
  fill: var(--black-amp-white-white, #fff);
}
.remember-me {
  color: var(--Gray-Gray-700, #2d3748);
  align-self: start;
  font: 800 12px Abhaya Libre ExtraBold, -apple-system, Roboto, Helvetica,
  sans-serif;
}
.button-base-2 {
  border-radius: 12px;
  background-color: rgba(185, 97, 255, 1);
  display: flex;
  margin-top: 36px;
  min-height: 45px;
  align-items: center;
  color: var(--black-amp-white-white, #fff);
  text-align: center;
  justify-content: center;
  padding: 0 8px;
  font: 800 10px Abhaya Libre ExtraBold, -apple-system, Roboto, Helvetica,
  sans-serif;
}
.width-structure-5 {
  align-self: stretch;
  display: flex;
  width: 42px;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  margin: auto 0;
}
.height-structure-5 {
  display: flex;
  min-height: 24px;
  width: 100%;
  max-width: 42px;
  align-items: center;
  justify-content: start;
}
.button-body-5 {
  width: 42px;
  align-self: stretch;
  gap: 4px;
  overflow: hidden;
  margin: auto 0;
}
.already-have-an-account-sign-in {
  color: var(--Teal-Teal-300, #4fd1c5);
  text-align: center;
  align-self: center;
  margin-top: 22px;
  font: 800 14px/1.4 Abhaya Libre ExtraBold, -apple-system, Roboto, Helvetica,
  sans-serif;
}
.div-13 {
  align-self: stretch;
  display: flex;
  margin-top: 66px;
  width: 100%;
  gap: 40px 100px;
  flex-wrap: wrap;
  font: 800 12px Abhaya Libre ExtraBold, -apple-system, Roboto, Helvetica,
  sans-serif;
}
@media (max-width: 991px) {
  .div-13 {
    max-width: 100%;
    margin-top: 40px;
  }
}

.div-14 {
  align-self: start;
  display: flex;
  gap: 40px 46px;
  color: var(--Gray-Gray-400, #a0aec0);
  flex: 1;
}
