<!--<div class="message-container">-->
<!--  <div class="message-box">-->
<!--    <div class="icon">🔒</div>-->
<!--    <p class="success">Guard works!</p>-->
<!--    <p class="error">Access denied</p>-->
<!--  </div>-->
<!--</div>-->


<section class="error-page">
  <div class="error-background">
    <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/b2abe9493e2a5774cc591c244c29c82af074c32f7fa3fdecc647726642f9ae0b?placeholderIfAbsent=true&apiKey=fbeb5a321590488ab4d866ae3e262c8d" alt="" class="error-image" />
    <div class="error-content">
      <h1 class="error-title">404</h1>
      <p class="error-message">Sorry, we were unable to find that page</p>
      <form class="search-form" role="search">
        <label class="visually-hidden">Search</label>
        <div class="search-input">
          <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/19390e02f10a1ece1e86f15e3fc06f7f7a562a45d4b49ca24ac43409a057783c?placeholderIfAbsent=true&apiKey=fbeb5a321590488ab4d866ae3e262c8d" alt="Search" class="search-icon" />
        </div>
      </form>
      <p class="home-link">
        Start from <a href="/" class="underline">home page</a>
      </p>
    </div>
  </div>
</section>
