<header id="header" class="header fixed-top">

  <div class="topbar d-flex align-items-center">
    <div class="container d-flex justify-content-center justify-content-md-between">
      <div class="contact-info d-flex align-items-center">
        <i class="bi bi-envelope d-flex align-items-center"><a href="mailto:contact@example.com">it&#64;gmail.com</a></i>
        <i class="bi bi-phone d-flex align-items-center ms-4"><span>+1 1111 11111 11</span></i>
      </div>
      <div class="languages d-none d-md-flex align-items-center">
        <ul>
          <li>En</li>
          <li><a href="#">Fr</a></li>
        </ul>
      </div>
    </div>
  </div><!-- End Top Bar -->

  <div class="branding d-flex align-items-cente">

    <div class="container position-relative d-flex align-items-center justify-content-between">
      <a href="" class="logo d-flex align-items-center me-auto me-xl-0" style="text-decoration: none;">
        <!-- <img src="assets/img/logo.jpg" alt="">-->
        <h1 class="sitename" style="color: var(--accent-color); margin: 0; font-size: 26px; font-weight: 600; font-family: var(--heading-font);">
          IT-Company
        </h1>
      </a>


      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a [routerLink]="['/home']" fragment="home" routerLinkActive="active">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#menu">Why Choose Us</a></li>
          <li><a href="#specials">Our Services</a></li>
          <li><a href="#events">Our Users</a></li>
          <li><a href="#gallery">Gallery</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

      <a class="btn-book-a-table d-none d-xl-block" routerLink="/login" routerLinkActive="active">{{ isLogin() ? "login" : "logout" }}</a>

    </div>

  </div>

</header>
